example-flows/Utility_Copy_Files_Advanced_Loops_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_File_to_New_Target_Collection</name>
        <label>Add File to New Target Collection</label>
        <locationX>798</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>colContentDocumentLinksCurrent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_Source_File</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Source_File</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>138</locationX>
        <locationY>2174</locationY>
        <assignmentItems>
            <assignToReference>colContentDocumentLinksNew</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Content_Document_Links</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Content_Document_Links</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Entire_Source_File_Collection_to_Target</name>
        <label>Assign Entire Source File Collection to Target</label>
        <locationX>358</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>colContentDocumentLinksCurrent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Source_Files</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_New_files_to_Copy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Match_Flag</name>
        <label>Clear Match Flag</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>vMatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Target_File</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Create_Target_Error</name>
        <label>Set Create Target Error</label>
        <locationX>314</locationX>
        <locationY>2474</locationY>
        <assignmentItems>
            <assignToReference>vIsError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There was an error creating the Target Document Links</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Match_Flag</name>
        <label>Set Match Flag</label>
        <locationX>798</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>vMatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Target_File</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Missing_Id_Error</name>
        <label>Set Missing Id Error</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>vIsError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Either or both of the Source or Target record ids are blank.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_No_Source_Error</name>
        <label>Set No Source Error</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>vIsError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There are no files attached to the Source record</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Target_Link_Clear_Record_Id</name>
        <label>Set Target Link &amp; Clear Record Id</label>
        <locationX>138</locationX>
        <locationY>2066</locationY>
        <assignmentItems>
            <assignToReference>Content_Document_Links.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vTargetObjectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Content_Document_Links.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_New_files_to_Copy</name>
        <label>Any New files to Copy?</label>
        <locationX>314</locationX>
        <locationY>1850</locationY>
        <defaultConnectorLabel>NO NEW FILES (Default)</defaultConnectorLabel>
        <rules>
            <name>COPY_FILES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colContentDocumentLinksCurrent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Content_Document_Links</targetReference>
            </connector>
            <label>COPY FILES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compare_LinkedEntityId_Values</name>
        <label>Compare LinkedEntityId Values</label>
        <locationX>930</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Each_Target_File</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match (Default)</defaultConnectorLabel>
        <rules>
            <name>Source_File_found_in_Target_Files</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Each_Source_File.LinkedEntityId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Each_Target_File.LinkedEntityId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Match_Flag</targetReference>
            </connector>
            <label>Source File found in Target Files</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Source_Files</name>
        <label>Found Source Files?</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Set_No_Source_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO SOURCE FILES (Default)</defaultConnectorLabel>
        <rules>
            <name>HAVE_FILES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Source_Files</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Target_Files</targetReference>
            </connector>
            <label>HAVE FILES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Target_Files</name>
        <label>Found Target Files?</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_Entire_Source_File_Collection_to_Target</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO TARGET FILES (Default)</defaultConnectorLabel>
        <rules>
            <name>FOUND_EXISTING_FILES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Target_Files</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Each_Source_File</targetReference>
            </connector>
            <label>FOUND EXISTING FILES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Record_Ids</name>
        <label>Have Record Ids?</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Set_Missing_Id_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MISSING (Default)</defaultConnectorLabel>
        <rules>
            <name>HAVE_BOTH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSourceObjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vTargetObjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vSourceObjectId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vTargetObjectId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Source_Files</targetReference>
            </connector>
            <label>HAVE BOTH</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_There_a_Match</name>
        <label>Was There a Match?</label>
        <locationX>710</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Add_File_to_New_Target_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO MATCH (Default)</defaultConnectorLabel>
        <rules>
            <name>MATCH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Each_Source_File</targetReference>
            </connector>
            <label>MATCH</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Utility - Copy Files Advanced (Loops) - Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Utility - Copy Files Advanced (Loops) - Subflow</label>
    <loops>
        <name>Content_Document_Links</name>
        <label>Content Document Links</label>
        <locationX>50</locationX>
        <locationY>1958</locationY>
        <collectionReference>colContentDocumentLinksCurrent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Target_Link_Clear_Record_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Target_Content_Document_Links</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Each_Source_File</name>
        <label>Each Source File</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_Source_Files</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clear_Match_Flag</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_New_files_to_Copy</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Each_Target_File</name>
        <label>Each Target File</label>
        <locationX>710</locationX>
        <locationY>890</locationY>
        <collectionReference>Get_Current_Target_Files</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Compare_LinkedEntityId_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Was_There_a_Match</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Target_Content_Document_Links</name>
        <label>Create Target Content Document Links</label>
        <locationX>50</locationX>
        <locationY>2366</locationY>
        <faultConnector>
            <targetReference>Set_Create_Target_Error</targetReference>
        </faultConnector>
        <inputReference>colContentDocumentLinksNew</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Target_Files</name>
        <label>Get Current Target Files</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Target_Files</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vTargetObjectId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Source_Files</name>
        <label>Get Source Files</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Source_Files</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSourceObjectId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Have_Record_Ids</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colContentDocumentLinksCurrent</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>colContentDocumentLinksNew</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>vErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vIsError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vMatch</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vSourceObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTargetObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
